<div class="container">
  <div class="posts-index">
    <h1>All Posts</h1>
  
    <div id="posts">
      <% if user_signed_in? %>
        <% @posts.each do |post| %>
          <div class="post-block">
            <%= render post %>
            <% author = (@users.select { |user| user.id == post.user_id }).pop %>
            <p><%= author[:username] %></p>
            <p>
              <%= link_to "Show this post", post %>
            </p>
          </div>
        <% end %>
      <% else %>
        <% @posts.each do |post| %>
          <div class="post-block">
            <%= render post %>
            <p>
              <%= link_to "Show this post", post %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="shared-links">
  <%= link_to "New post", new_post_path %>
</div>
