<div class="posts-index">
  <div class="post-block">
    <%= render @post %>
  </div>
  <% if user_signed_in? %>
    <br>
    <br>
    <p><em>Posted by: </em><%= @user %></p>
  <% end %>
</div>

<div class="shared-links">
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>
  <br/>
  <br/>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
